<nav>
  <%= link_to 'Films Index', '/films' %>
  <%= link_to 'Directors Index', '/directors' %>
  <%= link_to "#{@director.name}'s Films Index", "/directors/#{@director.id}/films" %>
</nav>

<h1><%= @director.name %>'s Films Index</h1>
<ul>
  <li>Total Number of Films: <%= @director.total_films %></li>
  <li>IMDB Ranking: <%= @director.imdb_rank %></li>
  <li>TV Credit: <%= @director.tv_credit %></li>
</ul>
<%= button_to 'Update Director', "/directors/#{@director.id}/edit", method: :get %>
<%= button_to 'Delete Director', "/directors/#{@director.id}", method: :delete, data: {confirm: "Really delete the Director?"} %>