<nav>
  <%= link_to 'Art Pieces', "/pieces" %>
  <%= link_to 'Galleries', "/galleries" %>
</nav><br>

<h1> <%= @piece.name %> </h1>
<%= link_to "Update Art Piece Information", "/pieces/#{@piece.id}/edit" %>
<br><br>
<%= button_to "Delete", "/pieces/#{@piece.id}", method: :delete, data: {confirm: "Really delete the article?"} %>


<p>Artist: <%= @piece.artist %> </p>
<p>Year Created: <%= @piece.year %> </p>
<p>Original?:
  <% if @piece.original == true %>
    Original
  <% else %>
    Reprint
  <% end %>
</p>
