<nav>
  <%= link_to 'Films Index', '/films' %>
  <%= link_to 'Directors Index', '/directors' %>
</nav>

<h1>Films Index</h1>
<% @films.nominated_only.each do |film| %>
  <h3 id="<%= film.id %>"><%= film.name %> - <%= link_to 'Edit Film', "/films/#{film.id}/edit" %></h3>
  <ul>
    <li>Rotten Tomatoes Ranking: <%= film.rt_rank %></li>
    <li>Award Nominated Film: <%= film.nominated %></li>
  </ul>
  <br>
<% end %>