<nav>
  <%= link_to 'Films Index', '/films' %>
  <%= link_to 'Directors Index', '/directors' %>
</nav>

<h1>Films Index</h1>

<% @films.nominated_only.each do |film| %>
  <section style="padding; 10px; border: 2px solid red;">
    <h3 id="<%= film.id %>"><%= link_to film.name, "/films/#{film.id}" %></h3>
    <p id="edit-<%= film.id %>"><%= link_to 'Edit Film', "/films/#{film.id}/edit" %><>
    <p>Rotten Tomatoes Ranking: <%= film.rt_rank %></p>
    <p>Award Nominated Film: <%= film.nominated %></p>
  </section>
<% end %>