<nav>
  <%= link_to 'Films Index', '/films' %>
  <%= link_to 'Directors Index', '/directors' %>
</nav>

<h1><%= @film.name %></h1>
<%= link_to 'Update Film', "/films/#{@film.id}/edit" %>
<br>
<br>
<%= button_to 'Delete Film', "/films/#{@film.id}", method: :delete, data: {confirm: "Really delete the Film?"} %>

<p>Rotten Tomatoes Rank: <%= @film.rt_rank %></p>
<p>Award Nominated Film: <%= @film.nominated %></p>