<nav>
  <a href="/pieces">Art Pieces</a>
  <a href="/galleries">Galleries</a>
</nav>

<h1><%= @gallery.name %></h1>
<%= link_to 'Sort Alphabetically', "/galleries/#{@gallery.id}/pieces?sort=asc" %>
<% @pieces.each do |piece| %>
  <h3><%= piece.name %></h3>

  <ul>
    <li>Artist: <%= piece.artist %> </li>
    <li>Year Created: <%= piece.year %> </li>
    <li>Original?:
      <% if piece.original == true %>
        Original
      <% else %>
        Reprint
      <% end %>
    </li>
  </ul>

<% end %>

<h2><a href="/galleries/<%= @gallery.id %>/pieces/new">Add New Piece</a></h2>
