<nav>
  <a href="/pieces">Art Pieces</a>
  <a href="/galleries">Galleries</a>
</nav>

<h1><%= @gallery.name %></h1>
<%= link_to 'Sort Alphabetically', "/galleries/#{@gallery.id}/pieces?sort=asc" %><br><br>

<%= form_with url: "/galleries/#{@gallery.id}/pieces", method: :get, local: true do |f| %>
  <%= f.label :filter, "Pieces created after year:" %>
  <%= f.number_field :filter %>
  <%= f.submit 'Filter' %>
<% end %><br>

<% @pieces.each do |piece| %>
  <section style="padding: 10px; border: 2px solid red;">
    <h3><%= piece.name %></h3>
    <p id="<%= piece.id %>"> <%= link_to "Edit", "/pieces/#{piece.id}/edit" %> </p>

    <ul>
      <li>Artist: <%= piece.artist %> </li>
      <li>Year Created: <%= piece.year %> </li>
      <li>Original?:
        <% if piece.original == true %>
          Original
        <% else %>
          Reprint
        <% end %>
      </li>
    </ul>
  </section>

<% end %>

<h2><a href="/galleries/<%= @gallery.id %>/pieces/new">Add New Piece</a></h2>
