<nav>
  <%= link_to 'Art Pieces', "/pieces" %>
  <%= link_to 'Galleries', "/galleries" %>
</nav><br>

<h1>Enter Gallery Information</h1>
<%= form_with url: "/galleries", method: :post, local: true do |f| %>
  <%= f.label :name, "Gallery Name:" %>
  <%= f.text_field :name, placeholder: "Bob's Art Gallery", required: true %>
  <br><br>
  <%= f.label :entry_cost, "Entry Cost (in USD):" %>
  <%= f.number_field :entry_cost, min: 0, step: 0.01, placeholder: "5.75", required: true %>
  <br><br>
  <p>NPO Status:</p>
  <%= f.radio_button :non_profit, true, id: 'npotrue' %>
  <%= f.label :non_profit, "NPO", checked: true, required: true %>

  <%= f.radio_button :non_profit, false, id: 'npofalse' %>
  <%= f.label :non_profit, "Other", required: true %>
  <br><br>
  <%= f.submit "Submit" %>
<% end %>
